<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Converter</title>
</head>
<body>
    
    <h1>ASCII Converter</h1>

    <p>Convert images to ASCII art with this free online tool.</p>

    <form action="/upload-image" method="post" enctype="multipart/form-data">
        
        <label for="upload-image">Upload your image</label>
        <br>
        <input type="file" name="upload-image" id="upload-image" required>

        <br><br>


        <label for="image-style">Choose your style</label>
        <br>
        <label for="white-on-black-style">White on Black</label>
        <input type="radio" name="image-style" id="white-on-black-style" value="WHITE_ON_BLACK" checked>

        <br>

        <label for="black-on-white-style">Black on White</label>
        <input type="radio" name="image-style" id="black-on-white-style" value="BLACK_ON_WHITE">
        
        <br><br>

        <label for="resize-percentage">Resize percentage</label>
        <input type="number" step="0.0001" name="resize-percentage" id="resize-percentage" value="100" minlength="1" size="4" required max="200">%

        <br><br>

        <label for="generate-url">Generate shareable URL</label>
        <input type="checkbox" name="generate-url" id="generate-url" value="true">

        <br><br>

        <input type="submit" value="Convert!">

    </form>

</body>
</html>